#encabezado{
    background: gray;
    /*margin: -56px -1px 48px -1px;*/
    margin-top: -23px;
    text-align: center;
    height: 300px;
}

#post #e{
    margin: 25px;
    margin-left: 7%;
}

.title{
    padding-top: 130px;
}